*,
*::before,
*::after {
	outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1,
h2,
h3,
h4,
p,
ul,
li,
figure {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: var(--main-color);
	color: var(--text-color);
}

img,
svg {
	vertical-align: middle;
}

ul {
	list-style-type: none;
}

