.hero {
	background-color: rgb(255, 202, 218);
	display: flex;
	flex-direction: column;

	&__photo {
		border-radius: 50%;
		border: 1.5px solid black;
		margin-bottom: 30px;

		&--container {
			text-align: center;
		}
	}
	&__contacts {
		display: flex;
		padding: 25px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 8px;
		font-size: 14px;

		&--link {
			text-decoration: none;
			color: var(--subtext-color);

			&:hover {
				color: var(--active-color);
				font-weight: bold;
			}
		}
	}
}
