.hero {
	background-color: rgb(255, 202, 218);
	display: flex;
	flex-direction: column;

	@include tablet {
		min-width: 300px;
		max-width: 30%;
		height: 100%;
		position: absolute;
		top: 45px;
		left: 30px;
	}

	&__photo {
		border-radius: 50%;
		border: 1.5px solid #000000;
		// margin: 30px;

		@include tablet {
			width: 75%;
			height: auto;
		}

		&--container {
			text-align: center;

			@include tablet {
				padding: 15px 0;
			}
		}
	}

	&__contacts {
		display: flex;
		// padding: 25px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 8px;
		font-size: 14px;

		@include tablet {
			gap: 15px;
			font-size: 18px;
		}

		&--link {
			text-decoration: none;
			color: var(--subtext-color);

			&:hover {
				color: var(--active-color);
				font-weight: bold;
			}
		}
	}

	&__edu--list {
		display: flex;
		flex-direction: column;
		gap: 15px;

		@include tablet {
			gap: 25px;
			font-size: 20px;
		}
	}

	&__edu--item {
		display: flex;
		justify-content: space-between;
		font-size: 14px;

		@include tablet {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 5px;
			font-size: 20px;
		}
	}

	div:nth-child(2),
	div:nth-child(3) {
		border-bottom: 2px solid var(--active-color);

		@include tablet {
			min-width: fit-content;
			max-width: 80%;
		}
	}

	&__skills--list {
		display: flex;
		// flex-direction: column;
		justify-content: space-evenly;
		flex-wrap: wrap;
		gap: 15px;

		@include tablet {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 20px;
			font-size: 22px;
		}
	}

	&__skills--item {
		// display: flex;
		gap: 5px;
	}
}

.edu-year {
	color: var(--active-color);
	font-weight: bold;
}
