.container {
	min-width: 320px;
	max-width: 480px;
	width: 100%;
	margin: 0 auto;
	padding: 25px 15px;
	// border-bottom: 2px solid var(--active-color)

	@include tablet {
		max-width: 768px;
		padding: 45px 10px;
	}
	@include desktop {
		max-width: 1200px;
	}
}

.about-container {
	padding: 45px 10px;

	@include desktop {
		padding: 65px 25px;
	}
}

.section {
	padding-top: 30px;
	padding-bottom: 30px;

	@include desktop {
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

h2 {
	display: flex;
	justify-content: center;
	font-size: 28px;
	text-transform: uppercase;
	margin-bottom: 15px;

	@include tablet {
		font-size: 32px;
	}
}
